<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.wayakeji.authority.mapper.AuthorityUserBelongMapper">

  <resultMap id="authorityUserBelongMap" type="com.wayakeji.common.api.entity.AuthorityUserBelong">
    <id property="belong" column="belong"/>
    <result property="explain" column="explain"/>
  </resultMap>
</mapper>
